body {
  height: 200px;
}

.jumbotron {
  padding: 6rem;

  background-color: #c3daff;
}

#video {
  position: relative;
  padding: 2rem;
  background-color: #c3daff;
}

#kontak {
  text-align: center;
  background-color: black;
  color: #fff;
}

#about {
}

#emailHelp {
  color: #fff;
}

#navbar {
}

.section {
  padding-top: 6rem;
}

#bagianluar {
  background-color: ;
  padding: 2rem;
}
